In [1]:
import tensorflow as tf
from tensorflow.keras import models, layers
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

2023-11-15 17:51:27.868508: I tensorflow/core/util/port.cc:110] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2023-11-15 17:51:27.906799: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-11-15 17:51:28.237782: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-11-15 17:51:28.239463: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-11-15 17:51:30.336902: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
/usr/lib/python3/dist-packages/requests/__init__.py:89: RequestsDependencyWarning: urllib3 (2.0.4) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [2]:
(tr_i, tr_l), (ts_i, ts_l) = tf.keras.datasets.cifar10.load_data()

In [3]:
tr_i.shape

(50000, 32, 32, 3)

In [4]:
df = pd.read_csv('/media/bhushan/Data/EDU/DL/Practicals/LP-IV-datasets/CIFR/train.csv')

In [5]:
df.head()

,pixel_0,pixel_1,pixel_2,pixel_3,pixel_4,pixel_5,pixel_6,pixel_7,pixel_8,pixel_9,...,pixel_3063,pixel_3064,pixel_3065,pixel_3066,pixel_3067,pixel_3068,pixel_3069,pixel_3070,pixel_3071,label
0,59,43,50,68,98,119,139,145,149,149,...,58,65,59,46,57,104,140,84,72,6
1,154,126,105,102,125,155,172,180,142,111,...,42,67,101,122,133,136,139,142,144,9
2,255,253,253,253,253,253,253,253,253,253,...,83,80,69,66,72,79,83,83,84,9
3,28,37,38,42,44,40,40,24,32,43,...,39,59,42,44,48,38,28,37,46,4
4,170,168,177,183,181,177,181,184,189,189,...,88,85,82,83,79,78,82,78,80,1

In [6]:
train_labels = df["label"]
train_images = df.drop(['label'], axis=1)

In [7]:
train_images = np.array(train_images).reshape(-1, 32, 32, 3).astype("float")/255.0

In [16]:
model = models.Sequential([
    layers.Conv2D(32, (3,3), activation='relu', input_shape=(32, 32, 3)),
    layers.MaxPooling2D((2, 2)),
    layers.Conv2D(64, (3,3), activation='relu'),
    layers.MaxPooling2D((2,2)),
    layers.Conv2D(64, (3,3), activation='relu'),
    layers.GlobalAveragePooling2D(),
    layers.Dense(64, activation='relu'),
    layers.Dense(10, activation='softmax')
])

model.compile(optimizer="adam", loss="sparse_categorical_crossentropy", metrics=['accuracy'])

In [17]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d_3 (Conv2D)           (None, 30, 30, 32)        896

 max_pooling2d_2 (MaxPoolin  (None, 15, 15, 32)        0
 g2D)

 conv2d_4 (Conv2D)           (None, 13, 13, 64)        18496

 max_pooling2d_3 (MaxPoolin  (None, 6, 6, 64)          0
 g2D)

 conv2d_5 (Conv2D)           (None, 4, 4, 64)          36928

 global_average_pooling2d_1  (None, 64)                0
  (GlobalAveragePooling2D)

 dense_2 (Dense)             (None, 64)                4160

 dense_3 (Dense)             (None, 10)                650

=================================================================
Total params: 61130 (238.79 KB)
Trainable params: 61130 (238.79 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [18]:
history = model.fit(train_images, train_labels, validation_split=0.2, epochs=11)

Epoch 1/11
1250/1250 [==============================] - 13s 10ms/step - loss: 1.8609 - accuracy: 0.3020 - val_loss: 1.6639 - val_accuracy: 0.3922
Epoch 2/11
1250/1250 [==============================] - 13s 11ms/step - loss: 1.6174 - accuracy: 0.4121 - val_loss: 1.6381 - val_accuracy: 0.4037
Epoch 3/11
1250/1250 [==============================] - 13s 11ms/step - loss: 1.5160 - accuracy: 0.4518 - val_loss: 1.5073 - val_accuracy: 0.4576
Epoch 4/11
1250/1250 [==============================] - 13s 10ms/step - loss: 1.4362 - accuracy: 0.4840 - val_loss: 1.3753 - val_accuracy: 0.5067
Epoch 5/11
1250/1250 [==============================] - 13s 10ms/step - loss: 1.3676 - accuracy: 0.5083 - val_loss: 1.3799 - val_accuracy: 0.5024
Epoch 6/11
1250/1250 [==============================] - 10s 8ms/step - loss: 1.3079 - accuracy: 0.5335 - val_loss: 1.3604 - val_accuracy: 0.5064
Epoch 7/11
1250/1250 [==============================] - 11s 9ms/step - loss: 1.2645 - accuracy: 0.5490 - val_loss: 1.3075 - val_accuracy: 0.5371
Epoch 8/11
1250/1250 [==============================] - 10s 8ms/step - loss: 1.2195 - accuracy: 0.5645 - val_loss: 1.2351 - val_accuracy: 0.5600
Epoch 9/11
1250/1250 [==============================] - 10s 8ms/step - loss: 1.1916 - accuracy: 0.5744 - val_loss: 1.2303 - val_accuracy: 0.5612
Epoch 10/11
1250/1250 [==============================] - 11s 9ms/step - loss: 1.1522 - accuracy: 0.5922 - val_loss: 1.2200 - val_accuracy: 0.5616
Epoch 11/11
1250/1250 [==============================] - 10s 8ms/step - loss: 1.1255 - accuracy: 0.6013 - val_loss: 1.1500 - val_accuracy: 0.5930